<form class="email-form">
  <strong class="error hidden">Not a valid email address</strong>
  Your email address will be used to reset your password if you forget it.

  <label>Email</label>
  <input type="text" value="<%= user.escape("email") %>">

  <button>Update</button>
</form>

<form class="change-password">
  <strong class="error hidden"></strong>
  <h2>Change Password</h2>

  <label>Old Password</label>
  <input type="password" name="old_password">

  <label>New Password</label>
  <input type="password" name="password">

  <label>Confirm New Password</label>
  <input type="password" name="password_confirmation">

  <button>Update</button>
</form>
