<form "email-form">
  Your email address will be used to reset your password if you forget it.

  <label>Email</label>
  <input type="text">

  <button>Update</button>
</form>

<form "change-password">
  <h2>Change Password</h2>

  <label>Old Password</label>
  <input type="password">

  <label>New Password</label>
  <input type="password">

  <label>Confirm New Password</label>
  <input type="password">

  <button>Update</button>
</form>
