<% if (user.get("is_current_user")) { %>
    <button class="file-upload">Upload a File</button>
    <input type="file" class="file-upload-selector">
<% } %>

<form class="search file-search" action="javascript:void(0)">
  <input type="text" placeholder="Find a file..." value="<%= user.philes().query %>">
</form>

<ul class="file-list display-list"></ul>
