<section class="sidebar">
  <h1><%= user.escape("email") %></h1>

  <p>Avatar goes here</p>

  <% if (!user.get("is_current_user")) { %>
    <% if (user.get("following")) { %>
      <button class="follow-user">Unfollow</button>
    <% } else { %>
      <button class="follow-user">Follow</button>
    <% } %>
  <% } %>
</section>

<main class="main-panel">
  <nav>
    <ul class="main-panel-tabs clearfix">
      <li class="activated"><a data-tab=".file-panel">Files</a></li>
      <li><a data-tab=".follows-panel">Follows</a></li>
      <li><a data-tab=".feed-panel">Feed</a></li>
    </ul>
  </nav>
</main>
