<section class="sidebar">
  <h1><%= user.escape("name") %></h1>

  <a href="javascript:void(0)" class="avatar">
    <img src="<%= user.get("avatar_url") %>" alt="avatar">
  </a>
  <% if (user.get("is_current_user")) { %>
    <button class="change-avatar">Change Picture</button>
    <input type="file" class="hidden avatar-file-selector">
  <% } %>
</section>

<main class="main-panel">
  <nav>
    <ul class="main-panel-tabs clearfix">
      <li class="file-panel-tab"><a data-tab=".file-panel">Files</a></li>
      <li class="follows-panel-tab"><a data-tab=".follows-panel">Follows</a></li>
      <li class="feed-panel-tab"><a data-tab=".feed-panel">Feed</a></li>
    </ul>
  </nav>
</main>
