<section class="sidebar">
  <h1><%= user.escape("name") %></h1>

  <% if (user.get("is_current_user")) { %>
    <a href="javascript:void(0)" class="avatar">
      <button class="avatar-tooltip">Change Picture</button>
      <img src="<%= user.get("avatar_url") %>" alt="avatar">
      <div class="avatar-blur"></div>
    </a>
    <input type="file" class="avatar-file-selector">
  <% } else { %>
    <img src="<%= user.get("avatar_url") %>" alt="avatar" class="avatar">
  <% } %>
</section>

<main class="main-panel">
  <nav>
    <ul class="main-panel-tabs clearfix">
      <li class="file-panel-tab"><a data-tab=".file-panel">Files</a></li>
      <li class="follows-panel-tab"><a data-tab=".follows-panel">Follows</a></li>
      <li class="feed-panel-tab"><a data-tab=".feed-panel">Feed</a></li>
      <% if (user.get("is_current_user")) { %>
        <li class="password-panel-tab"><a data-tab=".password-panel">Password</a></li>
      <% } %>
    </ul>
  </nav>
</main>
