.file-list {
  margin-top: 10px;
}

.file-upload-selector {
  display: none;
}

.file-search {
  margin-top: 10px;
  width: 400px;
}

.file-list li a {
  display: block;
  float: left;
}

.file-controls {
  display: block;
  float: right;
}

.file-controls > li {
  float: left;
  margin-left: 5px;
}

.file-controls > li > button {
  font-size: 10px;
  padding: 5px;
}
