.file-list {
  margin-top: 10px;
}

.file-upload-selector {
  display: none;
}

.file-search {
  margin-top: 10px;
  width: 400px;
}

.file-list li a {
  display: block;
  float: left;
}

.file-controls {
  display: block;
  float: right;
}

.file-controls > li {
  float: left;
  margin-left: 5px;
}

.file-controls > li > button, .tag-delete {
  font-size: 10px;
  padding: 5px;
}

.file-modal {
  padding: 20px;
}

.file-modal > h2, .file-modal > form {
  margin-bottom: 10px;
}

.tag-name {
  display: block;
  float: left;
}

.tag-names {
  display: block;
  font-size: 12px;
  clear: both;
}

.tag-delete {
  display: block;
  float: right;
}

.tag-names > .tag-search {
  display: inline;
  color: #fff;
}

.tag-names > .tag-search:hover {
  color: #4183c4;
  cursor: pointer;
}
