.main-panel {
  width: 799px;
  float: right;
  padding-top: 20px;
  margin-bottom: 20px;
}

.main-panel-tabs > li {
  float: left;
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  padding: 8px 8px 0 8px;
  background: #333333;
  width: 100px;
  text-align: center;
}

.main-panel-tabs > li a {
  display: block;
  cursor: pointer;
}

.main-panel-tabs > li:last-child {
  border-right: 1px solid #808080;
}

.main-panel > section {
  border: 1px solid #808080;
  min-height: 400px;
  width: 700px;
  padding: 20px;
}

.file-list {
  margin-top: 10px;
}

.file-list > li {
  padding: 10px 10px;
  border-top: 1px solid #808080;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  width: 378px;
}

.file-list > li:last-child {
  border-bottom: 1px solid #808080;
}

.main-panel-tabs > .activated {
  background: #000000;
}

.file-input-button {
  position: relative;
  float: left;
}

.file-input-button > label {
  position: absolute;
  top: 3px;
  left: 7px;
  padding-left: 12px;
  padding-right: 12px;
}

.file-upload {
  margin-top: 3px;
  margin-left: 2px;
}

.file-search {
  display: block;
  clear: both;
  margin-top: 20px;
}

.file-list li a {
  display: block;
  float: left;
}

.file-controls {
  display: block;
  float: right;
}

.file-controls > li {
  float: left;
  margin-left: 5px;
}

.file-controls > li > button {
  font-size: 10px;
  padding: 5px;
}
