.main-panel {
  width: 799px;
  float: right;
  padding-top: 20px;
  margin-bottom: 20px;
}

.main-panel-tabs > li {
  float: left;
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  padding: 8px 8px 0 8px;
  background: #333333;
  width: 100px;
  text-align: center;
}

.main-panel-tabs > li a {
  display: block;
  cursor: pointer;
}

.main-panel-tabs > li:last-child {
  border-right: 1px solid #808080;
}

.main-panel > section {
  border: 1px solid #808080;
  min-height: 400px;
  width: 700px;
  padding: 20px;
}

.main-panel-tabs > .activated {
  background: #000000;
}

.main-panel .display-list > li {
  padding: 10px 10px;
  border-top: 1px solid #808080;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  width: 378px;
}

.main-panel .display-list > li:last-child {
  border-bottom: 1px solid #808080;
}
