.sidebar {
  width: 399px;
  float: left;
  padding-top: 20px;
}

.sidebar > h1 {
  font-size: 20px;
  text-align: center;
}

.sidebar > img {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  display: block;
}

.sidebar > button {
  display: block;
  margin: 0 auto;
}
