<main class="content">
  <form class="signin" action="<%= users_url %>" method="post">
    <h1>Register</h1>
    <%= auth_token %>

    <%= render "fields", user: @user %>

    <button>Register</button>
    <a class="button-alt" href="<%= new_session_url %>">Sign in</a>
  </form>
</main>
