.file-body {
  float: left;
  padding: 20px;
  line-height: 1.5em;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 16px;
  max-width: 770px;
  word-wrap: break-word;
}

.file-body a {
  background:  #404040;
  color: #ffffff;
}

.file-body a:hover {
  background: #ffc31c;
  color: black;
}

.file-main {
  border-left: 1px solid #808080;
}
