.file-annotation {
  float: left;
  position: relative;
  padding: 20px 0;
}

.annotation {
  width: 350px;
  position: relative;
}

.annotation-edit > textarea {
  display: block;
  background: #404040;
  width: 100%;
  height: 200px;
  color: #ffffff;
  font: sans-serif;
  padding: 8px 8px;
  margin-bottom: 5px;
  resize: none;
  outline: none;
  font-size: 14px;
}

.annotation-show {
  border-left: 1px solid #ffc31c;
  padding-left: 20px;
  width: 100%;
  color: #cccccc;
  font-size: 14px;
}

.annotation-show p {
  margin-bottom: 1em;
}

.annotation-show em {
  font-style: italic;
}

.annotation-show strong {
  font-weight: 700;
}

.annotation-show ul {
  list-style: disc;
}

.annotation-show h1 {
  font-size: 20px;
  font-weight: 700;
}

.annotation-show > .annotation-edit-link {
  display: block;
  padding: 5px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: #cccccc;
}

.annotation-start {
  border-left: 1px solid #ffc31c;
  padding: 10px 15px;
  text-align: center;
  width: 250px;
}

.annotation-start > a {
  background: #404040;
  padding: 5px 40px;
  border: 1px solid #808080
}
