.file-annotation {
  float: left;
  position: relative;
}

.annotation-edit {
  position: relative;  
}

.annotation-edit > textarea {
  display: block;
  background: #404040;
  width: 300px;
  height: 200px;
  color: #ffffff;
  font: sans-serif;
  padding: 8px 8px;
  margin-bottom: 5px;
  resize: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.annotation-show {
  border-left: 1px solid #ffc31c;
  padding-left: 20px;
  width: 300px;
  color: #cccccc;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative;
}

.annotation-show p {
  margin: 1em 0;
}

.annotation-show em {
  font-style: italic;
}

.annotation-show strong {
  font-weight: 700;
}

.annotation-show a {
  color: #ffc31c;
}

.annotation-show ul {
  list-style: disc;
}

.annotation-show h1 {
  font-size: 20px;
  font-weight: 700;
}

.annotation-show > .annotation-edit-link {
  display: block;
  padding: 5px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: #cccccc;
}
