<header class="file-header">
  <h1><%= @phile.name %></h1>
  <h2><%= @phile.owner.email %></h2>
</header>

<section class="file-body">
  <pre><%= notate_phile(@phile) %></pre>
</section>

<section class="file-annotations">
</section>

<script type="text/javascript">
$(document).ready(function () {
  CodeGenius.initializePhile();
});
</script>
