<header class="file-header">
  <h1>
    <strong class="filename"><%= @phile.name %></strong>
  </h1>
  <h2>
    <a class="author" href="<%= user_url(@phile.owner) %>">
      <%= @phile.owner.email %>
    </a>
  </h2>
</header>

<section class="file-body">
  <pre><%= notate_phile(@phile) %></pre>
</section>

<section class="file-annotation">
</section>

<script type="text/javascript">
$(document).ready(function () {
  CodeGenius.initializePhile();
  Backbone.history.start();
});
</script>
