<header class="search-header clearfix">
  <form class="search"  method="get" action="<%= search_url %>">
    <input type="text" placeholder="Search Code Genius..." name="query" value="<%= params[:query] %>">
  </form>
</header>

<main class="search-results">
  <ul>
  <% @search_results.map(&:searchable).each do |model| %>
    <% if model.class == User %>
      <li class="search-results-row clearfix">
          <%= render "user", user: model %>
      </li>
    <% end %>
  <% end %>
  </ul>

  <%= paginate @search_results %>
</main>

<script>
$.FollowToggle = function (el) {
  this.$el       = $(el);
  this.userId    = this.$el.data("user-id");
  this.following = this.$el.data("following");
  this.render();
  this.$el.on("click", this.handleClick.bind(this));
};

$.FollowToggle.prototype.render = function () {
  this.$el.text(this.following ? "Unfollow" : "Follow");
};

$.FollowToggle.prototype.handleClick = function (event) {
  var url = "/api/users/" + this.userId + "/follow";
  var type = this.following ? "DELETE" : "POST";
  this.$el.prop("disabled", true);
  event.preventDefault();
  $.ajax({
    url: url,
    type: type,
    dataType: "json",
    success: function () {
      this.following = !this.following;
      this.render();
      this.$el.prop("disabled", false);
    }.bind(this)
  });
};

$.fn.followToggle = function () {
  return this.each(function () {
    new $.FollowToggle(this);
  });
};

$(function () {
  $("button.follow-toggle").followToggle();
});
</script>
