<header class="search-header clearfix">
  <form class="search"  method="get" action="<%= search_url %>">
    <input type="text" placeholder="Search Code Genius..." name="query" value="<%= params[:query] %>">
  </form>
</header>

<main class="search-results">
  <ul>
  <% @search_results.map(&:searchable).each do |model| %>
    <li class="search-results-row clearfix">
      <% if model.class == User %>
        <%= render "user", user: model %>
      <% end %>
    </li>
  <% end %>
  <%= paginate @search_results %>
</main>
