<aside class="annotation-show">
  <h2>by <a href="/users/<%= note.get("author_id") %>"><%= note.escape("author_name") %></a></h2>
  <%= marked(note.escape("body")) %>
  <a class="annotation-edit-link" href="#">propose an edit</a>
</aside>
<form class="annotation-edit hidden">
  <textarea><%= note.escape("body") %></textarea>
  <button class="note-save">Save</button>
  <button class="note-cancel">Cancel</button>
</form>
