<form class="annotation-edit hidden">
  <textarea></textarea>
  <button class="note-save">Save</button>
  <button class="note-cancel">Cancel</button>
</form>
<div class="annotation-start">
  <a href="javascript:void(0)">Start a new annotation.</a>
</div>
