<div class="modal-overlay"></div>
<article class="error-modal modal">
  <a href="javascript:void(0)" class="modal-dismiss">X</a>
  <h2 class="sigin-header">Register or sign in to get started.</h2>
  <a class="button" href="/users/new">Register</a>
  <a class="button" href="/session/new">Sign In</a>
</article>
