.content {
  color: #ffffff;
  width: 1198px;
  margin: 0 auto;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  min-height: 500px;
  /*overflow:hidden;*/
}
