.content {
  color: #ffffff;
  width: 1198px;
  margin: 0 auto;
  padding-top: 20px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px 0px;
  min-height: 750px;
}
