.homepage > h1 {
  text-align: center;
  font-size: 60px;
  color: #ffc31c;
  margin-top: 20px;
}

.homepage > p {
  text-align: center;
  color: #bbbbbb;
  margin: 20px;
}

.homepage > h2 {
  text-align: center;
  font-size: 40px;
  color: #ffc31c;
  margin: 100px 0 20px 0;
}

.homepage > ul {
  width: 500px;
  margin: 0 auto;
}

.homepage > ul > li {
  border-top: 1px solid #808080;
  padding: 10px 0;
}
