.signin {
  width: 402px;
  margin: 100px auto;
  background: #404040;
  border: 1px solid #808080;
  padding: 10px 20px;
}

.signin > h1 {
  font-size: 20px;
  padding-bottom: 20px;
}

.signin > input {
  display: block;
  margin-bottom: 10px;
  width: 390px;
}

.signin > strong {
  font-size: 14px;
}
