.site-header {
  background: #333333;
  border-bottom: 2px solid #808080;
}

.site-header-content {
  width: 1180px;
  padding: 10px 0;
  margin: 0 auto;
}

.site-header-logo {
  font-size: 40px;
  color: #ffc31c;
  float: left;
}

.site-header-links {
  float: right;
  padding-top: 15px;
}

.site-header-links > * {
  float: left;
}

.site-header-links > * {
  margin-right: 10px;
}

.site-header-links > *:last-child {
  margin-right: 0;
  margin-top: -2px;
}

.site-header-links a {
  color: #bbbbbb;
}

.site-header-content > .search {
  margin-top: 10px;
  margin-left: 25px;
  width: 650px;
  float:left;
}
