.site-header {
  background: #151515;
  color: #bbbbbb;
}

.site-header > nav {
  width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
}

.site-header-logo {
  font-size: 40px;
  color: #ffc31c;
  float: left;
}

.site-header-links {
  float: right;
}

.site-header-links > li {
  float: left;
  padding: 10px 0 10px;
}

.site-header-links > li:first-child {
  padding-right: 20px;
}

.site-header-links a:hover {
  color: #4183c4;
}

.site-header-links button {
  cursor: pointer;
}
