.site-header {
  background: #333333;
  color: #bbbbbb;
  border-bottom: 1px solid white;
  font-family: 'Roboto', sans-serif;
}

.site-header > nav {
  width: 1200px;
  padding: 10px 0;
  margin: 0 auto;
}

.site-header-logo {
  font-size: 40px;
  color: #ffc31c;
  float: left;
}

.site-header-links {
  float: right;
}

.site-header-links > li {
  float: left;
  padding-top: 15px;
}

.site-header-links > li:first-child {
  padding-right: 20px;
}

.site-header-links a:hover {
  color: #4183c4;
}

.site-header-links button {
  cursor: pointer;
}
